* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, Helvatica, sans-serif;
    background-color: #fafaf8;
}

/* ################## HEADER ################## */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 11px;
    height: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
                0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
header > img {
    width: 2.3rem;
}
header > h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: #333333;
}

/* ################## MAIN FORM ################## */
main {
    padding: 20px 30px;
}
.ingredient-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.ingredient-form > input {
    border-radius: 7px;
    border: 1px solid #d1d5d8;
    padding: 10px 13px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    max-width: 500px;
    min-width: 150px;
}
.ingredient-form > input:focus {
    outline: 2px solid gray;
}

.ingredient-form > button::before {
    content: "+";
    margin-right: 5px
}
.ingredient-form > button {
    font-family: Inter, sans-serif;
    border-radius: 7px;
    border: none;
    padding: 10px 13px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #141413;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 140px;
}
.ingredient-form > button:hover {
    background-color: #fff;
    color: #141413;
}
.ingredient-form > button:active {
    transform: scale(0.98);
}
@media(max-width: 500px) {
    .ingredient-form > button {
        width: 100%;
    }
}

/* ################## INGREDIENTS SECTION ################## */
.ingredients-list {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0;
}

.ingredients-list li {
    position: relative;
    margin-bottom: 10px;
    padding: 0px 12px;
    background-color: #f8f9fa;
    border-radius: 4px;
    list-style-position: inside;
}

.ingredients-list button {
    position: absolute;
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: scale 0.2s ease;
}
.ingredients-list button:hover {
    scale: 1.5;
}
.ingredients-list button:focus {
    scale: 1.5;
}

.ingredients-list img {
    width: 15px;
    height: 15px;
}

/* ################## RECIPIE SECTION ################## */
.get-recipie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #EEECE8;
}

.get-recipie-container > button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #CA6A4E;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 150px;
}
.get-recipie-container > button:hover {
    background-color: #b55d44;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}